html, body {
  margin: 0;
  padding: 0;
}
 * {
  font-size: 30px;
  color: white;
 }

body {
  background-color: #313676;
}
main {
  display: flex;
  justify-content: center;
  margin: 3% auto;
  flex-wrap: wrap;
  width: 1480px;
  background-image: url("img/bedroom.jpg");
  background-size: cover;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  width: 185px;
  height: 100px;
  box-sizing: border-box;
/*  border: 1px solid white;*/
}

footer {
  height: 150px;
  background-color: orange;
  margin:  -50px auto;
  width: 1480px;
  text-align: center;
}

ul {
  list-style-type: none;
}
li {
  display: inline-block;
  padding: 5px;
}
.gameOver, .hello, .hooray {
  text-align: center;
}
input {
  color: black;
}

.timer {
  color: white;
  font-size: 1.5em;
  background-color: red;
}

.rules {
  padding: 10px;
  background-color: pink;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
}

.hooray a:hover {
  color: yellow;
}

.hello h1 {
  font-size: 3em;
  color: yellow;
}
/*.score {
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 1000;
  background-color: white;
  height: 100px;
  width: 100px;
  color: white;
}*/

/*.timer{
  position: absolute;
  top: 150px;
  right: 100px;
  z-index: 1000;
  background-color: white;
  height: 100px;
  width: 100px;
  color: black;
}*/
