html, body {
  margin: 0;
  padding: 0;
}
 * {
  font-size: 30px;
  color: white;
 }

body {
  background-color: #313676;
}
main {
  display: flex;
  justify-content: center;
  margin: 3% auto;
  flex-wrap: wrap;
  width: 1480px;
  background-image: url("img/bedroom.jpg");
  background-size: cover;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  width: 185px;
  height: 100px;
  box-sizing: border-box;
/*  border: 1px solid white;*/
}

footer {
  height: 150px;
  background-color: orange;
  margin:  -50px auto;
  width: 1480px;
}
